:root {
  --primary-color: #0c0e52;
  --secondary-color: #ecae00;
  --tertiary-color: #117834;
  --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container {
  max-width: 1200px;
  padding: 30px;
}

body {
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  font-family: "Lato", sans-serif;
  color: var(--primary-color);
}

.navbar-brand {
  font-size: 28px;
  font-weight: 700;
  color: var(--primary-color);
}

.nav-link {
  font-size: 20px;
  color: var(--primary-color);
}

.active {
  font-weight: bold;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/093/446/original/ball_cropped.jpg?1692043056);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
  border-radius: 16px;
}

#rules {
  padding: 80px 0;
}

h1,
h2 {
  font-family: "Alfa Slab One", cursive;
}

h1 {
  font-size: 96px;
}

h2 {
  text-align: center;
  padding: 30px 0;
}

h3 {
  font-size: 18px;
  text-align: center;
  font-weight: 400;
}

img {
  border-radius: 16px;
}

ul {
  margin-bottom: 30px;
}

li {
  line-height: 2;
}

.link {
  text-align: center;
}

#more {
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  background: var(--secondary-color);
  padding: 10px 15px;
  border-radius: 24px;
  text-align: center;
  margin-top: 40px;
}

#more:hover {
  background: var(--tertiary-color);
  transition: all ease-in-out 300ms;
}

h4 {
  font-size: 18px;
  font-weight: 700;
  padding-top: 20px;
}

.col-md-2 {
  background: white;
  border-radius: 16px;
  padding: 20px;
  text-align: center;
  box-shadow: var(--box-shadow);
}

.col-md-2:hover {
  scale: 1.1;
  transition: all ease-in-out 300ms;
}

i {
  color: var(--secondary-color);
}

iframe {
  display: block;
  margin: 0 auto;
}

.embed {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 16px;
}

footer {
  margin-bottom: 30px;
}

.footer-icon {
  margin: 0 20px;
}

.description-footer {
  display: block;
  text-align: center;
  color: var(--primary-color);
  font-size: 14px;
  margin: 10px;
}

.social-media-icons {
  display: flex;
  justify-content: center;
}

.social-media-icons .fa-brands {
  color: var(--tertiary-color);
}

.social-media-icons .fa-brands:hover {
  color: var(--primary-color);
}

@media (max-width: 992px) {
  h1 {
    font-size: 48px;
  }

  .col-md-2 {
    margin-top: 15px;
  }
}
